@use "../custom" as *;

.Technologies-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .Skillbox {
    display: flex;
    background-color: gainsboro;
    padding: 10px;

    .w-12 {
      width: 3rem;
    }
  }
}
